@model AppPizzeria.Models.OrderSummary

@{
    ViewBag.Title = "Riepilogo Ordini";
}

<h2>Riepilogo Ordini</h2>

<div class="order-summary">
    <div class="card">
        <div class="card-body">

            @if (!Model.OrderItems.Any())
            {
                <h5>Il carrello è vuoto</h5>
            }
            <h5 class="card-title">Ordine Numero: @Model.OrderSummaryId</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Prezzo unitario</th>
                        <th>Totale</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.Product.ProductPrice) €</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemPrice) €</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="card-text">
                Totale ordine: @ViewBag.Somma €<br>
            </p>

        </div>
    </div>
</div>


@if (Model.OrderItems.Any())
{

    if (Model.State == "Non Evaso")
    {

        using (Html.BeginForm("FinalizeOrder", "OrderSummaries", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="order-details">
                <h3>Dettagli della consegna</h3>

                <div class="form-group">
                    <label for="OrderDate">Data di consegna:</label>
                    <input type="datetime-local" class="form-control" id="OrderDate" name="OrderDate" value="@Model.OrderDate">
                </div>

                <div class="form-group">
                    <label for="OrderAddress">Indirizzo di consegna:</label>
                    <input type="text" class="form-control" id="OrderAddress" name="OrderAddress" value="@Model.OrderAddress" placeholder="Inserisci il tuo indirizzo di consegna">
                </div>

                <div class="form-group">
                    <label for="Note">Note dell'ordine (allergie, preferenze, ecc.):</label>
                    <textarea class="form-control" id="Note" name="Note" rows="3">@Model.Note</textarea>
                </div>

                <input type="hidden" name="OrderSummaryId" value="@Model.OrderSummaryId" />

                <button type="submit" class="btn btn-success">Concludi Ordine</button>
            </div>
        }
    }
}

