@model AppPizzeria.Models.OrderItem

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrderItemId)
    @Html.HiddenFor(model => model.OrderSummaryId) // Mantenere, ma nascosto
    @Html.HiddenFor(model => model.ProductId) // Mantenere, ma nascosto

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity)
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
    </div>

    <button type="submit" class="btn btn-primary">Salva modifiche</button>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
